/* :root definir la taille et foutre la police ici */

:root
{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }

/* a:hover { text-decoration: none; color: #0065FC; border-top: 4px #0065FC solid; } */
/* border-top: 2px #0065FC solid; add that for hover effect */



/* Farandole de reglages */

h1
{
    margin: 0;
    padding: 0;
    font-size: 0.832rem; 
    font-weight: 600;
}
h2
{
    margin: 0;
    padding: 0;
    font-size: 0.67rem;
    font-weight: 600;
}
h3
{
    margin: 0;
    padding: 0;
    font-size: 0.61rem;
    font-weight: 600;
}
p
{
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
}

.fa-solid
{
    color: #0065FC;
}



/* BODY */

/* body
{
    max-width: 992px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
} */

body
{
    margin: 0;
}

/* *********************************        HEADER        **********************************/

header
{
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    /* height: 80px; */
    height: 95px;
    padding: 0;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
}

#booki_home /*logo booki*/
{
    background-color: greenyellow;
    height: 40%;
    margin-top: 39px;
    margin-left: 5px;
}
#booki_home img
{
    height: 100%;
    width: auto;
}

header nav
{
    background-color: antiquewhite;
    width: 265px;
}

header ul
{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.nav_list
{
    height: 100%;
    background-color: red;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list li
{
    height: 100%;
}

.nav_list a
{
    height: 100%;
    /* padding: 0px 30px 0px 30px; */
    padding: 0px 25px 0 25px;
    border-top: 2px transparent solid;
    background-color: green;
    display: flex;
    align-items: center;
}

.nav_list a:hover
{
    text-decoration: none; color: #0065FC; border-top: 2px #0065FC solid;
}

/* MAIN */
/* 
main
{
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
} */

/* *********************************        SECTION RECHERCHE        **********************************/

.research_section
{
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    background-color: pink;
}

.search_banner
{
    background-color: aquamarine;
    margin-left: 5px;
}

.search_banner h1
{
    padding-top: 17px;
}

.search_banner p
{
    padding-top: 7px;
}

.search_bar
{
    background-color: red;
    margin-left: 5px;
    margin-top: 16px;
    width: 375px;
    height: 46px;
    display: flex;
}

#icon_mylocation
{
    height: 100%;
    width: 16%;
    background-color: #F2F2F2;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#icon_mylocation:hover
{
    background-color: #DEEBFF;
}

#icon_mylocation:hover #location_dot
{
    color: #0065FC;
}

#location_dot
{
    font-size: 0.68rem;
    color: black;
}

#input_box
{
    height: 100% - 2px;
    width: auto;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    display: flex;
    align-items: center;
}

#input_box input
{
    font-family: 'Raleway', sans-serif;
    font-size: 0.67rem;
    font-weight: 600;
}

#input_search
{
    padding-left: 15px;
    height: 100%;
    width: 100%;
    border: 0; /* border vire les borders du input */
    outline: none; /* outline vire le highlight bleu du input */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

::placeholder 
{
    color: black; /* changer la couleur du input search*/
}

#bouton_search
{
    height: 100%;
    width: 43%;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#bouton_search:hover
{
    background-color: #DEEBFF;
}

#bouton_search:hover p
{
    color: #0065FC;
}

#bouton_search p
{
    padding: 0;
    margin: 0;
    font-size: 0.67rem;
    font-weight: 600;
    color: white;
}

#magnifying_glass
{
    display: none;
}

/* FILTER BAR */

.filter_bar
{
    /* background-color: orange; */
    margin-left: 5px;
    margin-top: 23px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter_bar_title
{
    margin-left: 7px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.filter_bar a {
    float: left;
    margin: 5px 21px 5px 0;
    line-height: 41px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 17px 0 55px;
    position: relative;
    /* border: 2px solid #F2F2F2; */
    border: 2px solid lightgrey;
    border-radius: 40px;
  }
  
.filter_icon{
    width: 44px;
    height: 44px;
    background: #DEEBFF;
    position: absolute;
    left: -3px;
    top: -1.5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.filter_icon i{
    font-size: 0.7rem;    
}

.filter_bar a:hover
{
    background-color: #0065FC;
    color: white;
    border: 2px solid #0065FC;
}

.filter_bar a:hover .filter_icon
{
    background-color: white;
    border: 2px solid #0065FC;
    width: 41px;
    height: 41px;
    top: -2px;
}

.information_message
{
    background-color: yellowgreen;
    margin-left: 8px;
    margin-top: 27px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.information_message p
{
    margin-left: 10px;
}
.logo_information
{
    height: 19px;
    width: 19px;
    border: 1px #F2F2F2 solid;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_information i
{
    font-size: 0.5rem;
}






/* *********************************        SECTION HEBERGEMENTS        **********************************/


.section_hebergement
{
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
    background-color: lightcoral;
    display: flex;
    justify-content: space-between;
}


.bloc_hebergement h1
{
    margin-top: 37px;
    margin-bottom: 2.8%;
    margin-left: 4.5%;
}

.bloc_hebergement
{
    width: 65.7%;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.bloc_vignette_hebergement
{
    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

.vignette
{
    display: flex;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 27px;
    background-color: white;
}

.bloc_vignette_hebergement .vignette
{
    height: 170px;
    width: 27%;
    flex-direction: column;
    margin-left: -9px;
    margin-right: -9px;
}

.bloc_hebergement .vignette_photo
{
    width: 100%;
    /* height: 90px; */
    height: 60%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-image: url('images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-size: cover;
}

.vignette_text
{
    /* background-color: beige; */
    height: 38%;
    /* margin: 5px 0 5px 7px; */
    margin-top: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.vignette_text p
{
    font-size: 0.51rem;
}

.vignette_text b
{
    font-weight: 600;
}

.stars
{
    display: flex;
    justify-content: flex-start;
    font-size: 0.43rem;
    /* background-color: coral; */
}
.stars i
{
    margin-right: 1px;
}



#afficher_plus
{
    margin-top: 8px;
    margin-left: 39px;
    margin-bottom: 40px;
    background-color: red;
    display: block;
    height: 20px;
    width: 100px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

.bloc_populaire
{
    /* width: 26.25%; */
    width: 31.35%;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.populaire_title
{
    background-color: fuchsia;
    margin-top: 38px;
    margin-left: 9.3%;
    margin-right: 9.3%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.95rem;
}

.populaire_title i
{
    margin-top: 1px;
    color: black;
    font-size: 0.8rem;
}

/* ------ */


.bloc_vignette_populaire
{
    margin-top: 22.2px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bloc_populaire .vignette
{
    /* background-color: white; */
    width: 79.5%;
    height: 122px;
    margin-right: 3px;
    margin-top: 1px;
    /* margin-bottom: 20px; */
    /* display: flex;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1); */

}

.bloc_populaire .vignette_photo
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 38.3%;
    background-image: url('images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    background-size: cover;
}

.bloc_text
{
    margin-top: 13px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloc_populaire .vignette_text p
{
    margin-top: 8px;
}

.bloc_populaire .stars
{
    margin: 5px 0 5px 18.5px;
}

.bloc_populaire .vignette_text
{
    overflow-wrap: break-word;
    margin: 5px 5px 5px 18.5px;

}

/* *********************************        SECTION ACTIVITE        **********************************/

.section_activities
{
    max-width: 1200px;
    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 0;
    background-color: bisque;
}

.section_activities h1
{
    /* margin-bottom: 10px; */
    margin-bottom: 0;
    padding-bottom: 0;
}

.bloc_activities
{
    background-color: pink;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}


#vieux_port
{
    height: 330px;
}

#fort_de_pomegues
{
    height: 175px;
}

#iles_du_frioul
{
    height: 120px;
}

#parc_national
{
    height: 330px;
}

#notre_dame
{
    height: 140px;
}

#parc_longchamp
{
    height: 150px;
}

.section_activities .vignette
{
    width: 215px;
    border: none;
    display: flex;
    flex-direction: column;
    /* margin-left: 0;
    padding-left: 0; */
}

.section_activities .vignette_text
{
    /* display: none; */
    height: 50px;
    width: 100%;
    margin: 0px 0 0px 0px;
    padding: 0 0 0 15px;
}

.section_activities .vignette_photo
{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    background-color: #0065FC;
    background-image: url('images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/* *********************************        FOOTER                      **********************************/

footer
{
    margin: 0 0 0 0;
    padding: 0;
    background-color: #F2F2F2;
    height: 150px;
}
#footer_box
{
    max-width: 992px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;
}


.footer
{
    width: 200px;
    padding-right: 120px;
    /* background-color: red; */
    /* c'est de la merde ici il faut refaire */
}

.footer h2
{
    padding: 0px 0 15px 0;
}
.footer ul
{
    margin: 0;
    padding:0;
}
.footer li
{
    margin: 0;
    padding: 0 0 10px 0;
    list-style-type: none;
    text-decoration: none;
    
}


/* *********************************        FORMAT TABLETTE + MOBILE        **********************************/

/* @media screen and (min-width: 768px) and (max-width: 992px)
{

} */

@media screen and (max-width: 992px) /* maybe change back to mobile */
{
    body
    {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    /* p
    {
        font-size: 25px;
    } */

    #top_banner
    {
        height: 200px;
        /* background-color: lightcoral; */
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: center;
        
    }
    
    #booki_home
    {
        margin-right: 10px;
        position: relative;
        top: 40px;
        height: 30%;
        width: 150px;
        /* background-color: aqua; */
        
        background-size: cover;
    }

    #booki_home:hover
    {
        top: 41px;
        height: 30%
    }

    
    #nav_banner
    {
        max-height: 35%;
        /* height: 100%; */
        width: 100%;
        /* background-color: lightgray; */
        display: flex;
        align-items: center;
    }
    
    #nav_list
    {
        /* background-color: green; */
        margin: 0;
        padding: 0;
        max-height: 100%;
        /* height: 100%; */
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        
    }
    #nav_list li
    {
        /* background-color: red; */
        height: 100%;
        width: 50%;
        /* background-color: red; */
        list-style-type: none;
        text-decoration: none;
    }
    #nav_list a
    {
        height: 100%;
        width: 100%;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px #F2F2F2 solid;
    }
    #nav_list a:hover
    {
        border-top: none;
        border-bottom: 5px #0065FC solid;
    }

    /* FIN DU HEADER (QU'IL FAUT REFAIRE??? C'EST TROP LONG???) */

    .research_section
    {
        /* margin-top: 75px; */
        height: 1000px;
        /* margin: 30px; */
        margin: 5.5%;
        justify-content: flex-start;
        background-color: red;

        /* align-items: center; */
    }

    .search_banner
    {
        background-color: blue;
        height: 200px;
    }

    .search_banner h1
    {
        padding-right: 10%;
    }

    .search_banner_text p
    {
        /* font-size: 23px; */
        margin-top: 18px;
    }

    

    .search_bar
    {
        /* height:70px; */
        /* background-color: purple; */
        height: 80px;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    #icon_mylocation
    {
        width: 18%;
    }

    

    #location_dot
    {
        font-size: 1.5em;
    }
    #input_search
    {
        padding-left: 10%;
        /* font-size: 1.5em; */
    }
    #input_box
    {
        width: auto;
    }

    #bouton_search
    {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 17.5%;
        background-color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

    }

    #bouton_search p
    {
        display: none;
    }

    #magnifying_glass
    {
        color: white;
        display: flex;
        /* font-size: 1.5em; */
    }


    .filter_bar
    {
        margin: 0;
        padding: 0;
        background-color: beige;
        height: 600px;
        flex-direction: column;
        align-items: flex-start;
    }


    #filter_list
    {
        height: 400px;
        background-color: orange;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .bouton_filtre_a
    {
        display: flex;
        justify-content: space-evenly;

    }

    .information_message
    {
        display: none;
    }
}

