/* :root definir la taille et foutre la police ici */

:root
{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;

}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }

/* a:hover { text-decoration: none; color: #0065FC; border-top: 4px #0065FC solid; } */
/* border-top: 2px #0065FC solid; add that for hover effect */



/* Farandole de reglages */

h1
{
    margin: 0;
    padding: 0;
    font-size: 0.832rem; 
    font-weight: 600;
}
h2
{
    margin: 0;
    padding: 0;
    font-size: 0.67rem;
    font-weight: 600;
}
h3
{
    margin: 0;
    padding: 0;
    font-size: 0.61rem;
    font-weight: 600;
}
p
{
    font-size: 0.61rem;
    margin: 0;
    padding: 0;
}

.fa-solid
{
    color: #0065FC;
}


/* BODY */

body
{
    /* max-width: 1120px;    */
    max-width: 992px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

header
{
    height: 80px;
    margin: 0;
    padding: 0;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
}

#booki_home
{
    margin-left: 2px;
    position:relative;
    height: 32px;
    width: 72px;
    top: 29px;
    background-image: url('images/logo/Booki@3x.png');
    background-size: cover;
}

#booki_home:hover
{
    width: 74px;
}


header nav
{
    width: 221px;
}

header ul
{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.nav_list
{
    height: 100%;
    /* background-color: red; */
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav_list li
{
    height: 100%;
}

.nav_list a
{
    height: 100%;
    padding: 0px 18px 0px 18px;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

.nav_list a:hover
{
    text-decoration: none; color: #0065FC; border-top: 4px #0065FC solid;
}

/* MAIN */

#research_section
{
    /* background-color: green; */
    margin: 0;
    padding: 0 0 0 3px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#search_banner
{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* BOUTON SEARCH CSS ICI */

#search_bar
{
    width: 310px;
    height: 40px;
    display: flex;
}

#icon_mylocation
{
    height: 100%;
    width: 40px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#location_dot
{
    font-size: 0.65rem;
    color: black;
}

#icon_mylocation:hover #location_dot
{
    color: #0065FC;
}


#input_box
{
    height: 38px;
    width: 170px;
    /* background-color: white; */
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    display: flex;
    align-items: center;
}

#input_box input
{
    /* padding-left: 8px; */
    font-family: 'Raleway', sans-serif;
    font-size: 0.67rem;
    font-weight: 600;
}

#input_search
{
    padding-left: 10px;
    height: 100%;
    width: 170px;
    border: 0; /* border vire les borders du input */
    outline: none; /* outline vire le highlight bleu du input */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

::placeholder {
    color: black; /* changer la couleur du input search*/
  }

#bouton_search
{
    height: 100%;
    width: 100px;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#bouton_search p
{
    padding: 0;
    margin: 0;
    font-size: 0.67rem;
    font-weight: 600;
    color: white;
}

#magnifying_glass
{
    display: none;
}

/* FILTER BAR */
#filter_bar
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#filter_bar_title
{
    margin-left: 5px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

#filter_bar a {
    float: left;
    margin: 5px 16px 5px 0;
    line-height: 36px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 17px 0 44px;
    position: relative;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
  }
  
.filter_icon{
    width: 40px;
    height: 40px;
    background: #DEEBFF;
    position: absolute;
    left: -3px;
    top: -2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.filter_icon i{
    font-size: 0.7rem;    
}

#filter_bar a:hover
{
    background-color: #0065FC;
    color: white;
    border: 2px solid #0065FC;
}

#filter_bar a:hover .filter_icon
{
    background-color: white;
    border: 2px solid #0065FC;
    width: 36px;
    height: 36px;
    top: -2px;
}

#information_message
{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#information_message p
{
    margin-left: 10px;
}
#logo_information
{
    height: 17px;
    width: 17px;
    border: 1px #F2F2F2 solid;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo_information i
{
    font-size: 0.5rem;
}






/* *********************************        SECTION HEBERGEMENTS        **********************************/


#section_hebergement
{
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#section_hebergement h1
{
    margin-bottom: 20px;
}

#bloc_hebergement
{
    /* margin-right: 15px; */
    padding: 30px;
    width: 590px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#bloc_vignette_hebergement
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.vignette_hebergement
{
    width: 175px;
    height: 150px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.vignette_photo
{
    width: 175px;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url('images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-size: cover;
}

.vignette_text
{
    height: 60px;
    /* margin-left: 10px; */
    margin: 5px 0 5px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.vignette_text p
{
    font-size: 0.51rem;
}

.vignette_text b
{
    font-weight: 600;
}

/* QUESTION: COMMENT ON FAIT LES ETOILES? */

.stars
{
    margin: 0;
    padding: 0;
    font-size: 0.45rem;
}

#bloc_populaire
{
    padding: 30px;
    width: 250px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

#populaire_title
{
    display: flex;
    justify-content: space-between;
}

/* ------ */



/* *********************************        FORMAT TABLETTE + MOBILE        **********************************/

/* @media screen and (min-width: 768px) and (max-width: 992px)
{

} */

@media screen and (max-width: 992px) /* maybe change back to mobile */
{
    body
    {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    /* p
    {
        font-size: 25px;
    } */

    #top_banner
    {
        height: 200px;
        /* background-color: lightcoral; */
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: center;
        
    }
    
    #booki_home
    {
        margin-right: 10px;
        position: relative;
        top: 40px;
        height: 30%;
        width: 150px;
        /* background-color: aqua; */
        
        background-size: cover;
    }

    #booki_home:hover
    {
        top: 41px;
        height: 30%
    }

    
    #nav_banner
    {
        max-height: 35%;
        /* height: 100%; */
        width: 100%;
        /* background-color: lightgray; */
        display: flex;
        align-items: center;
    }
    
    #nav_list
    {
        /* background-color: green; */
        margin: 0;
        padding: 0;
        max-height: 100%;
        /* height: 100%; */
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        
    }
    #nav_list li
    {
        /* background-color: red; */
        height: 100%;
        width: 50%;
        /* background-color: red; */
        list-style-type: none;
        text-decoration: none;
    }
    #nav_list a
    {
        height: 100%;
        width: 100%;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px #F2F2F2 solid;
    }
    #nav_list a:hover
    {
        border-top: none;
        border-bottom: 5px #0065FC solid;
    }

    /* FIN DU HEADER (QU'IL FAUT REFAIRE??? C'EST TROP LONG???) */

    #research_section
    {
        /* margin-top: 75px; */
        height: 1000px;
        /* margin: 30px; */
        margin: 5.5%;
        justify-content: flex-start;
        background-color: red;

        /* align-items: center; */
    }

    #search_banner
    {
        background-color: blue;
        height: 200px;
    }

    #search_banner h1
    {
        padding-right: 10%;
    }

    #search_banner_text p
    {
        /* font-size: 23px; */
        margin-top: 18px;
    }

    /*QUESTION est ce que ma search bar est bien ? et comment faire pour que le border top et bottom se foutent bien avec le bouton search -- j'ai le meme probleme avec les boutons filtres. ma solution de mettre du position relative ca fait un bloc "non centre" qui depasse a gauche je refais pareil ici ? mais apres je vais avoir un probleme pour centrer la bar facilement */

    #search_bar
    {
        /* height:70px; */
        /* background-color: purple; */
        height: 80px;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }


    #icon_mylocation
    {
        width: 18%;
    }

    

    #location_dot
    {
        font-size: 1.5em;
    }
    #input_search
    {
        padding-left: 10%;
        /* font-size: 1.5em; */
    }
    #input_box
    {
        width: auto;
    }

    #bouton_search
    {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 17.5%;
        background-color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

    }

    #bouton_search p
    {
        display: none;
    }

    #magnifying_glass
    {
        color: white;
        display: flex;
        /* font-size: 1.5em; */
    }


    #filter_bar
    {
        margin: 0;
        padding: 0;
        background-color: beige;
        height: 600px;
        flex-direction: column;
        align-items: flex-start;
    }


    #filter_list
    {
        height: 400px;
        background-color: orange;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .bouton_filtre_a
    {
        display: flex;
        justify-content: space-evenly;

    }

    #information_message
    {
        display: none;
    }
}

