a:link { text-decoration: none; color: black; }


a:visited { text-decoration: none; color: black; }


/* a:hover { text-decoration: none; color: #0065FC; border-top: 4px #0065FC solid; } */
/* border-top: 2px #0065FC solid; add that for hover effect */

a:active { text-decoration: none; color: black; }

/* Farandole de reglages */

h1
{
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    /* margin-top: 30px; */
}
h2
{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

p
{
    /* font-size: small; */
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* BODY */

body
{
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    /* C'est bon ca????? */
}

/* HEADER */

#top_banner
{
    height: 80px;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: space-between;
    
}

#booki_home
{
    margin-left: 20px;
    position:relative;
    top: 31px;
    height: 40%;
    width: 50px;
    /* background-color: aqua; */
    background-image: url('images/logo/Booki.png');
    background-size: cover;
}

#booki_home:hover
{
    height: 41%;
}


#nav_banner
{
    height: 100%;
    width: 215px;
    /* background-color: lightgray; */
}

#nav_list
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}

#nav_list li
{
    height: 100%;
    /* background-color: red; */
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: small;
}

#nav_list a
{
    height: 100%;
    padding: 0px 19px 0px 19px;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

#nav_list a:hover
{
    text-decoration: none; color: #0065FC; border-top: 4px #0065FC solid;
}

/* MAIN */

/* SEARCH BANNER */

#main
{
    margin: 0;
    padding: 0;
}

#body
{
    margin: 0;
    padding: 0;
}

#research_section
{
    /* background-color: green; */
    margin: 0;
    padding: 0;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#search_banner
{
    height: 70px;
    /* background-color: red; */
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* #search_banner_text
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

#search_banner_text p
{
    margin-top: 2px;
}

#search_bar
{
    margin: 0;
    padding: 0;
    height: 38px;
    width: 320px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

#icon_mylocation
{
    height: 100%;
    width: 12%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

#location_dot
{
    font-size: 1em;
    color: black;
}

#input_box
{
    /* height: 38px; */
    height: 95%;
    width: 55%;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
}

#input_box input
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#input_search
{
    padding-left: 7px;
    top: 0;
    /* height:36px; */
    height: 90%;
    width: 93%; /* POURQUOI CA BUG ICI???????? 100% ca deborde sur le bloc d'apres ???? */
    border: 0; /* border vire les border du input */
    outline: none; /* outline vire le highlight le truc bleu du input */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


::placeholder {
    color: black; /* nettoyer ce truc ici*/
  }

#bouton_search p
{
    padding: 0;
    margin: 0;
    /* height: 100%; */
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#magnifying_glass
{
    display: none;
}

#bouton_search
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 34%;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Il Y A UN PROBLEME ICI entre la champ input et le bouton search il y a un trou (foutre le background color pour le voir) /*

/* FILTER BAR */
#filter_bar
{
    margin: 6px;
    background-color: aqua;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

#filter_bar_title
{
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
}

#filter_list
{
    background-color: plum;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bouton_filtre_a
{
    height: 100%;
}

.bouton_filtre
{
    height: 100%;
    
    /* padding: 10px; */
    width: auto;

    background-color: green;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    
}

.icon_bouton_filtre
{
    height: 100%;
    width: 40px;
    border-radius: 40px;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;

}

.title_bouton_filtre
{
    height: 36px; /* prendre la hauteur moins le border top + border bottom ? */
    padding-right: 14px;  /*je pense qu'il faut que ca soit 50% de la height? pour faire un cercle parfait MAJ NON JE PENSE PAS*/
    padding-left: 30px;
    border-top: 2px #F2F2F2 solid;
    border-right: 2px #F2F2F2 solid;
    border-bottom: 2px #F2F2F2 solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* overflow-wrap: anywhere;  */
    display: flex;
    align-items: center;
}


#information_message
{
    height: 40px;
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#information_message p
{
    margin-left: 10px;
}
#logo_information
{
    height: 17px;
    width: 17px;
    border: 1px #F2F2F2 solid;
    border-radius: 17px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RECOLOR ICONS */

.fa-solid
{
    color: #0065FC;
}

#section_hebergements
{
    height: 100000px;
}

/* ------ */

/* @media screen and (min-width: 768px) and (max-width: 992px)
{

} */

@media screen and (max-width: 768px)
{
    body
    {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    p
    {
        font-size: 25px;
    }

    #top_banner
    {
        height: 200px;
        /* background-color: lightcoral; */
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: center;
        
    }
    
    #booki_home
    {
        margin-right: 10px;
        position: relative;
        top: 40px;
        height: 30%;
        width: 150px;
        /* background-color: aqua; */
        background-image: url('images/logo/Booki@3x.png');
        background-size: cover;
    }

    #booki_home:hover
    {
        top: 41px;
        height: 30%
    }

    
    #nav_banner
    {
        max-height: 35%;
        /* height: 100%; */
        width: 100%;
        /* background-color: lightgray; */
        display: flex;
        align-items: center;
    }
    
    #nav_list
    {
        /* background-color: green; */
        margin: 0;
        padding: 0;
        max-height: 100%;
        /* height: 100%; */
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        
    }
    #nav_list li
    {
        /* background-color: red; */
        height: 100%;
        width: 50%;
        /* background-color: red; */
        list-style-type: none;
        text-decoration: none;
    }
    #nav_list a
    {
        height: 100%;
        width: 100%;
        /* background-color: green; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 5px #F2F2F2 solid;
    }
    #nav_list a:hover
    {
        border-top: none;
        border-bottom: 5px #0065FC solid;
    }

    /* FIN DU HEADER (QU'IL FAUT REFAIRE??? C'EST TROP LONG???) */

    h1
    {
        font-size: 32px;
        font-weight: 600;
    }

    h2
    {
        font-size: 23px;
    }

    #research_section
    {
        /* margin-top: 75px; */
        height: 400px;
        /* margin: 30px; */
        margin: 5.5%;
        /* background-color: red; */

        /* align-items: center; */
    }

    #search_banner
    {
        height: 160px;
    }

    #search_banner h1
    {
        padding-right: 10%;
    }

    #search_banner_text p
    {
        font-size: 23px;
        margin-top: 18px;
    }

    #search_bar
    {
        height:70px;
        width: 100%;
    }

    #icon_mylocation
    {
        width: 18%;
    }

    #location_dot
    {
        font-size: 1.5em;
    }
    #input_search
    {
        padding-left: 10%;
        font-size: 1.5em;
    }
    #input_box
    {
        width: auto;
    }

    #bouton_search
    {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 17.5%;
        background-color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

    }

    #bouton_search p
    {
        display: none;
    }

    #magnifying_glass
    {
        color: white;
        display: flex;
        font-size: 1.5em;
    }


    #filter_bar
    {
        flex-direction: column;
        align-items: flex-start;
    }


    #filter_list
    {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }



    #information_message
    {
        display: none;
    }
}

