/* :root definir la taille et foutre la police ici */

:root
{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

/* Farandole de reglages */

*{
    box-sizing: border-box;
}

a:link { text-decoration: none; color: black; }
a:visited { text-decoration: none; color: black; }
a:active { text-decoration: none; color: black; }
h1
{
    margin: 0;
    padding: 0;
    font-size: 0.832rem; 
    font-weight: 600;
}
h2
{
    margin: 0;
    padding: 0;
    font-size: 0.67rem;
    font-weight: 600;
}
h3
{
    margin: 0;
    padding: 0;
    font-size: 0.61rem;
    font-weight: 600;
}

p
{
    font-size: 0.6rem;
    margin: 0;
    padding: 0;
}

.fa-solid
{
    color: #0065FC;
}



/* BODY */

/* body
{
    max-width: 992px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
} */

body
{
    margin: 0;
    padding: 0;
}

.wrapper
{
    max-width: 1240px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

/* *********************************        HEADER        **********************************/

header .wrapper
{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#booki_home /*logo booki*/
{
    height: 40%;
    margin-top: 39px;
    margin-left: 5px;
}
#booki_home img
{
    height: 100%;
    width: auto;
}

header nav
{
    /* background-color: antiquewhite; */
    width: 265px;
}

.nav_list
{
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list li
{
    height: 100%;
}

.nav_list a
{
    height: 100%;
    padding: 0px 25px 0 25px;
    border-top: 2px transparent solid;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

.nav_list a:hover
{
    text-decoration: none; 
    color: #0065FC; 
    border-top: 2px #0065FC solid;
}

/* *********************************        SECTION RECHERCHE        **********************************/

.research_section
{   
    background-color: pink;
}

.research_section .wrapper
{
    margin-bottom: 32px;
}

.search_banner
{
    /* background-color: aquamarine; */
    margin-left: 5px;
}

.search_banner h1
{
    padding-top: 12px;
}

.search_banner p
{
    padding-top: 7px;
}

.search_bar
{
    /* box-sizing: content-box; */
    background-color: white;
    margin-left: 5px;
    margin-top: 17px;
    width: 375px;
    height: 46px;
    padding: 0;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
    
    
}

.icon_mylocation
{
    height: calc(100% + 2px);
    width: 12%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.icon_mylocation:hover
{
    background-color: #DEEBFF;
}

.icon_mylocation:hover i
{
    color: #0065FC;
}

.icon_mylocation i
{
    font-size: 0.68rem;
    color: black;
}

.input_box
{
    height: 100%;
    width: 56%;
    display: flex;
    align-items: center;
}

.input_box input
{

    font-family: 'Raleway', sans-serif;
    font-size: 0.67rem;
    font-weight: 600;
    padding-left: 15px;
    height: 100%;
    width: 100%;
    border: 0;
    outline: none; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    size: 40px;
}

.bouton_search
{
    height: calc(100% + 2px);
    width: 32%;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bouton_search:hover
{
    background-color: #DEEBFF;
}

.bouton_search:hover p
{
    color: #0065FC;
}

.bouton_search p
{
    padding: 0;
    margin: 0;
    font-size: 0.67rem;
    font-weight: 600;
    color: white;
}

.bouton_search i
{
    display: none;
}

/* FILTER BAR */

.filter_bar
{
    background-color: orange;
    padding: 0;
    margin-left: 5px;
    margin-top: 28px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter_bar_title
{
    margin-left: 7px;
    margin-right: 30px;
    font-size: 0.67rem;
    font-weight: 600;
}

.filter_list
{
    width: 100%;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    flex-wrap: wrap;
}

.filter_list a 
{
    float: left;
    margin: 1px 20px 0px 0;
    line-height: 41px;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px 0 53px;
    position: relative;
    /* border: 2px solid #F2F2F2; */
    border: 2px solid lightgrey;
    border-radius: 40px;
}

.filter_list_name
{
    font-size: 0.67rem;
    font-weight: 600;
}

  
.filter_icon
{
    width: 44px;
    height: 44px;
    background: #DEEBFF;
    position: absolute;
    left: -3px;
    top: -1.5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #DEEBFF;
}

.filter_icon i
{
    font-size: 0.7rem;    
}

.filter_list a:hover
{
    background-color: #0065FC;
    color: white;
    border: 2px solid #0065FC;
    transition: 0.2s;
}

.filter_list a:hover .filter_icon
{
    background-color: white;
    border: 2px solid #0065FC;
    transition: 0.2s;
}

.information_message
{
    background-color: yellowgreen;
    margin-left: 8px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.information_message p
{
    margin-left: 10px;
    flex-shrink: 1;
}
.logo_information
{
    height: 22px;
    width: 22px;
    border: 1px lightgray solid;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1px;
    
}

.logo_information i
{
    font-size: 0.5rem;
}


/* ********************* BLOC COMMON SETTINGS *********************** */

.bloc_title
{
    margin: 0;
    padding: 0;
    font-size: 0.832rem; 
    font-weight: 600;
}

.vignette
{
    display: flex;
    border: 4px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.vignette_title
{
    margin: 0;
    padding: 0;
    font-size: 0.61rem;
    font-weight: 600;
}

.vignette_prix
{
    font-size: 0.51rem;
}

.vignette_prix b
{
    font-weight: 600;
}

.stars
{
    display: flex;
    justify-content: flex-start;
    font-size: 0.43rem;
    margin-top: 2.7px;
    background-color: coral;
}
.stars i
{
    margin-right: 1px;
}

/* *********************************        SECTION HEBERGEMENTS        **********************************/


#section_hebergement
{
    background-color: lightcoral;
}

#section_hebergement .wrapper
{
    display: flex;
    justify-content: space-between;
}

.bloc_hebergement
{
    width: 65.7%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.bloc_hebergement .bloc_title
{
    margin-top: 39px;
    margin-bottom: 2.8%;
    margin-left: 4.5%;
}

.bloc_hebergement .bloc_vignettes
{
    height: auto;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 7px;
    padding-right: 7px;
    flex-grow: 1;
}

.bloc_hebergement .vignette
{
    height: 177px;
    width: 28.5%;
    flex-direction: column;
    /* margin-left: -9px;
    margin-right: -9px; */
    margin-bottom: 28px;
}

.bloc_hebergement .vignette_photo
{
    width: 100%;
    /* height: 90px; */
    height: 60%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    background-image: url('images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
    background-size: cover;
}

.vignette_text
{
    background-color: beige;
    /* height: 38%; */
    /* margin: 5px 0 5px 7px; */
    margin-top: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.afficher_plus
{
    margin-top: 8px;
    margin-left: 39px;
    margin-bottom: 40px;
    background-color: red;
    display: block;
    height: 20px;
    width: 100px;
    font-size: 0.67rem;
    font-weight: 600;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

.bloc_populaire
{
    width: 31.35%;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.populaire_title
{
    background-color: fuchsia;
    margin-top: 39px;
    margin-left: 9.1%;
    margin-right: 9.1%;
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
    align-items: center;
}

.populaire_title i
{
    margin-top: 1px;
    color: black;
    font-size: 0.8rem;
    position: relative;
    top: -1px;
}


.bloc_populaire .bloc_vignettes
{
    margin-top: 23px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bloc_populaire .vignette
{
    /* background-color: white; */
    width: 81.5%;
    height: 130px;
    margin-right: 2px;
    margin-bottom: 29px;
}

.bloc_populaire .vignette_photo
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 38.3%;
    background-image: url('images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    background-size: cover;
}

.bloc_text
{
    margin-top: 13px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.bloc_populaire .vignette_prix
{
    margin-top: 8px;
}

.bloc_populaire .stars
{
    margin: 5px 0 5px 18.5px;
}

.bloc_populaire .vignette_text
{
    overflow-wrap: break-word;
    margin: 5px 5px 5px 18.5px;

}

/* *********************************        SECTION ACTIVITE        **********************************/

#section_activities
{
    background-color: bisque;
}

#section_activities .wrapper
{
    margin-top: 54px;
    margin-bottom: 55px;
}

.bloc_activities
{
    background-color: pink;
    margin-top: 20px;
    width: 100%;
    height: 398px;
    display: flex;
    /* flex-flow: column wrap; */
    /* align-content: space-between; */
    justify-content: space-between;
    /* align-items: center; */
}

.bloc_activities .vignette
{
    width: 22.5%;
    height: 100%;
    margin-bottom: 0;
    border: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* margin-left: 0;
    padding-left: 0; */
}

.double
{
    background-color: red;
    width: 22.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.double .vignette
{
    width: 100%;
}

.double .vignette:first-child
{
    height: 53%;
}
.double .vignette:last-child
{
    height: 37%;
}

/* .bloc_activities .double:last-child
{
    flex-direction: column-reverse;
} */

.bloc_activities .double:last-child .vignette:first-child /* la derniere colonne n'a pas la meme dimension */
{
    height: 44%;
}
.bloc_activities .double:last-child .vignette:last-child
{
    height: 47%;
}

.bloc_activities .vignette_title
{
    height: 55px;
    width: 100%;
    margin: 0;
    padding: 0 0 0 15px;
    /* color: red; */
}

.bloc_activities .double .vignette_title
{
    height: 67px;
}

.bloc_activities .vignette_photo
{
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    background-color: #0065FC;
    background-image: url('images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/* *********************************        FOOTER                      **********************************/

footer
{
    margin: 0;
    padding: 0 0 33px 0;
    background-color: #F2F2F2;
}

footer .wrapper
{
    padding-top: 38px;
    /* background-color: lightseagreen; */
    display: flex;
    justify-content: space-between;
}

.footer
{
    /* width: 220px; */
    width: 20%;
    margin-right: 12.25%;
    /* background-color: lightslategray; */
}

.footer_title
{
    font-size: 0.67rem;
    font-weight: 600;
    padding: 0px 0 19px 0;
}

.footer ul
{
    margin: 0;
    padding:0;
}
.footer li
{
    margin: 0;
    padding: 0 0 12px 0;
    list-style-type: none;
    text-decoration: none;
    
}


/* *********************************        FORMAT TABLETTE + MOBILE        **********************************/

/* @media screen and (min-width: 768px) and (max-width: 992px)
{

} */

@media screen and (max-width: 992px) /* maybe mobile */
{
    /* *********************************        HEADER        **********************************/
    p
    {
        font-size: 0.73rem;
    }
    h1
    {
        font-size: 1.009rem;
    }
    
    header .wrapper
    {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        
    }
    #booki_home
    {
        height: 50px;
        margin-top: 22.5px;
        margin-left: 0px;
    }

    header nav
    {
        width: 100%;
        margin-top: 34px;
    }

    .nav_list
    {
        width: 100%;
    }

    .nav_list li
    {
        width: 50%;
    }

    .nav_list a
    {
        width: 100%;
        padding: 0 0 15px 0;
        border-top: none;
        border-bottom: 3px transparent solid;
        justify-content: center;
    }

    .nav_list a:hover
    {
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }
    
    /* *********************************        SECTION RECHERCHE        **********************************/

    .research_section
    {
        /* margin-left: 5.25%;
        margin-right: 5.25%; */
        
    }

    .research_section .wrapper
    {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        background-color: lightskyblue;
        padding-left: 22.5px;
        padding-right: 22.5px;
        margin-bottom: 38px;
    }

    .search_banner
    {
        /* background-color: aquamarine; */
        margin-left: 0;
    }

    .search_banner h1
    {
        padding-top: 34px;
        padding-left: 0;
        padding-right: 0;
    }
    .search_banner p
    {
        padding-top: 14px;
        padding-left: 0;
        padding-right: 0;
    }
    .search_bar
    {
        margin-left: 0;
        margin-right: 0;
        margin-top: 38px;
        width: 100%;
        height: 57px;
        border-radius: 18px;
    }
    .icon_mylocation
    {
        width: 15.5%;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    }
    .icon_mylocation i
    {
        font-size: 0.82rem;
    }

    .input_box
    {
        width: 69%;
    }

    .input_box input
    {
        font-size: 0.83rem;
        padding-left: 18.5px;
    }

    .bouton_search
    {
        width: 15.5%;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
    }
    .bouton_search i
    {
        display: block;
        color: white;
        font-size: 0.82rem;
    }
    .bouton_search p
    {
        display: none;
    }

    /* FILTER BAR */

    .filter_bar
    {
        margin: 36px 0 0 0;
        padding: 0;
        background-color: lightsalmon;
        flex-direction: column;
        align-items: flex-start;
    }
    .filter_bar_title
    {
        margin: 0 0 0 1px;
        font-size: 0.85rem;
    }

    .filter_list
    {
        margin-top: 14px;
        display: flex;
        justify-content: flex-start;
        /* POURQUOI QUAND JE FLEX CA FAIT BUGGER ICI???? */
    }
    .filter_list_name
    {
        font-size: 0.74rem;
    }

    .filter_list a
    {
        /* margin: 0 12px 14px 0; */
        margin: 0 9.25px 14px 0;
        line-height: 51px;
        padding: 0 20px 0 64px;
    }

    /* .filter_list a:nth-child(2)
    {
        margin: 0;
        background-color: beige;
    } */

    .filter_icon
    {
        width: 54px;
        height: 54px;
        top: -1.5px;
    }

    .information_message
    {
        margin-top: 22px;
        margin-left: 0;
        width: 100%;
        /* flex-wrap: wrap; */
        /* align-items: center; */
        justify-content: flex-start;
        align-items: baseline;
    }

    .information_message p
    {
        margin: 0 0 0 12px;
        /* margin: 0; */
        
        background-color: red;
        text-overflow:ellipsis;
    }

    .logo_information 
    {
        height: 28px;
        width: 28px;
        border-radius: 28px;
        /* position: relative;
        top: -2px; */
    }

    .logo_information i
    {
        font-size: 0.6rem;
    }
    /* *********************************        SECTION HEBERGEMENTS        **********************************/


    .vignette
    {
        border: 5px solid white;
    }

    #section_hebergement .wrapper
    {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column-reverse;
    }

    .bloc_populaire
    {
        width: 100%;
        border-radius: 0;
        padding-bottom: 27px;
    }

    .populaire_title
    {
        margin-top: 42px;
        margin-left: 5.7%;
        margin-right: 5.7%;
    }

    .populaire_title div
    {
        font-size: 1.01rem;
    }

    .populaire_title i
    {
        font-size: 0.95rem;
    }

    .bloc_vignette_populaire
    {
        margin-top: 26px;
    }

    .bloc_populaire .vignette
    {
        margin-right: 0;
        margin-bottom: 10px;
        height: 160px;
        width: 89%;
    }

    .bloc_populaire .vignette_photo
    {
        width: 39%;
    }

    .bloc_text
    {
        margin-top: 9px;
    }

    .populaire_name
    {
        font-size: 0.74rem;
    }

    .vignette_text p
    {
        margin-top: 10px;
        font-size: 0.65rem;
    }

    .stars
    {
        margin-top: 0;
        font-size: 0.5rem;
    }
    .stars i
    {
        margin-right: 1.5px;
    }


    .bloc_hebergement
    {
        width: 100%;
    }

    .bloc_vignette_hebergement
    {
        flex-direction: column;
        align-items: center;
    }

    .bloc_vignette_hebergement .vignette
    {
        width: 87.5%;
    }
    /* *********************************        SECTION ACTIVITE        **********************************/

    #section_activities
    {
        width: 100%;
    }

    #section_activities .wrapper
    {
        width: 100%
    }

    .bloc_activities
    {
        flex-direction: column;
        height: auto;
    }

    .bloc_activities .vignette
    {
        width: 100%;
    }

    .double
    {
        width: 100%;
    }
    /* *********************************        FOOTER                      **********************************/

    .footer
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
    

    footer .wrapper
    {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
    }


    .wrapper .footer:last-child
    {
        padding-top: 24px;
        padding-bottom: 7px
    }

    .footer
    {
        width: 100%;
        margin-right: 0;
        padding-bottom: 20px;
        padding-top: 12px;
    }

    .footer_title
    {
        font-size: 0.829rem;
        padding: 0 0 22px 0;
    }

    .footer li
    {
        padding: 0 0 13px 0;
    }
    
}

